@tailwind base;
@tailwind components;
@tailwind utilities;

html,body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* For slick slide */
.slick-list, .slick-track, .slick-slide, .slick-slide > div {
  height: 100%;
}

.slick-dot > li > button {
  background-color: #8F57FF;
}
.slick-dots li button:before {
  color: #8F57FF;
}
.slick-dots li.slick-active button:before {
  color: #8F57FF;
  font-size: 1rem;
}